<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Listagem</a>
  </li>
  <li><a href="#">Visualizar no mapa</a></li>
</ul>

<div class="section-menu">
  <table class="table table-striped table-bordered table-condensed">
  <% @empresas.each do |empresa| %>
    <tr>
      <th>Nome fantasia</th>
      <th></th>
    </tr>
    <tr>
      <td><%= empresa.nome_fantasia %></td>
      <td>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Ações
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            <li><%= link_to 'Show', empresa %></li>
            <li><%= link_to 'Edit', edit_empresa_path(empresa) %></li>
            <li><%= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
</div>


